.color-grid-link {
  color: #992929;
}

.color-grid-link:hover {
  color: #650f7d;
}

#options-jumbotron {
  background: rgb(32,178,70);
  background: linear-gradient(0deg, rgba(32,178,70,1) 0%, rgba(45,125,88,1) 82%); 
  border-bottom: black;
  border-width: 0 0 2px 0;
  border-style: dotted;

}

.no-scroll {
  overflow: hidden; /* Hide scrollbars */
}

#pink-watermelon {
  background: rgb(240,128,128);
  background: linear-gradient(180deg, rgba(240,128,128,1) 25%, rgba(244,60,60,1) 80%); 
}

.title-text {
  font-family: 'Comfortaa', cursive;
}

.loginSignupContainer {
  margin-top: 2em;
  position: relative;
}

.signupLoginBtns {
  margin: 2px;
}

.topbar {
  width: 100%;
  background-color: slategray;
  border-bottom: 2px rgb(136, 122, 111) outset;
}

.dropdown {
  display: inline;
}

.dropdown-basic {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(63, 63, 63) !important;
}

.should-log-in {

}